<@charset "UTF-8";>
/*------------------------------------

CSS変数

------------------------------------*/



/*------------------------------------

CSS

------------------------------------*/

/*------------------------------------
header
------------------------------------*/

/*------------------------------------
main
------------------------------------*/

a-scene {
    height: 300px;
    width: 600px;
}

/*------------------------------------
footer
------------------------------------*/

footer {
    color: var(--gray);
    text-align: center;
}

footer a
{
    color: var(--gyay);
}

footer a:hover
{
    color: var(--black);
}
